body {
  background-color: blue;
}
html {
  overflow-y: scroll;
}
.center {
  display: grid;
  padding: 15%;
  
}

.logo {
  background-image: url('assets/img/LobbyLogo.png');
  width: 700px;
  size: 300px 500px;
  height: 250px;
}

.btn-primary {
  color: #fff;
  background-color: #f34565 !important;
  border-color: #f34565 !important;
}
